.cart{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 2rem;
}

.cartTitle{
    color: #94b8ff;
    width: 100%;
    font-size: 2.5rem;
}

.cartUl{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cartLi{
    list-style: none;
    display: inline;
}

.cartTotalPrice{
    width: 100%;
    color: #94b8ff;
    font-size: 1.3rem;
    font-weight: 500;
}

.cartButton{
    text-decoration: none;
    color: #282c34;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 18px;
    background: #94b8ff;
    color: #282c34;
    border: solid #282c34 1.5px;
    border-radius: 5px;
    cursor: pointer;
}

.cartButton:hover{
    background: #282c34;
    color: #94b8ff;
    border: solid #94b8ff 1.5px;
}

.cartLink{
    text-decoration: none;
    color: #282c34;
}

.cartLink:hover{
    color: #94b8ff;
}