.cartWidget{
    margin: 0.3rem 1rem;
    padding: 0.3rem;
    border-radius: 10%;
    background: #505b72;
    display: flex;
}

.cartWidgetLink{
    text-decoration: none;
    display: flex;
}

.icon{
    margin: 0.5rem;
    width: 25px;
}

.cartWidget p{
    display: inline;
    color: #94b8ff;
}