.card{
    background: #94b8ff;
    color: #282c34;
    width: 250px;
    margin: 25px 10px;
    padding: 10px 10px;
    border-radius: 10px;
}

.card img{
    width: 220px;
    border-radius: 10px;
    margin: 10px 5px;
}

.card h3{
    margin: 10px;
    font-size: 24px;
}

.card h5{
    margin: 15px;
    font-size: 18px;
}

.card .verDetail{
    margin: 0.5rem;
    padding: 5px;
    background: #94b8ff;
    color: #282c34;
    border: solid #282c34 1.5px;
    border-radius: 5px;
    cursor: pointer;
}

.card .verDetail:hover{
    background: #282c34;
    color: #94b8ff;
}