.navDiv{
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
}

.navBar{
    width: 100%;
    text-align: center;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #94b8ff;
    color: #0f3544;
}

.navBrand{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}

.navItem{
    list-style: none;
    text-decoration: none;
    color: #0f3544;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    float: right;
}