.navDiv{
    display: flex;
    align-content: center;
    justify-content: center;
}

.navBar{
    width: 100%;
    text-align: center;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #282c34, #94b8ff);
}

.navBrand{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: #94b8ff;
}

.navItem{
    list-style: none;
    text-decoration: none;
    color: #282c34;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    float: right;
}