.itemCountDiv{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.itemCountDiv .divAgregar{
    width: 100%;
}

.itemCountDiv .buttonAgregar{
    height: 25px;
    width: auto;
    margin: 0.5rem;
    background: #94b8ff;
    color: #282c34;
    border: solid #282c34 1.5px;
    border-radius: 10px;
    cursor: pointer;
}

.itemCountDiv button{
    height: 25px;
    width: 25px;
    margin: 0.5rem;
    background: #94b8ff;
    color: #282c34;
    border: solid #282c34 1.5px;
    border-radius: 5px;
    cursor: pointer;
}

.itemCountDiv button:hover{
    background: #282c34;
    color: #94b8ff;
}

.itemCountDiv p{
    margin: 0.5rem;
}
